<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @fav.title %>
</p>

<p>
  <b>Url:</b>
  <%= @fav.url %>
</p>

<p>
  <b>Description:</b>
  <%= @fav.description %>
</p>


<%= link_to 'Edit', edit_fav_path(@fav) %> |
<%= link_to 'Back', favs_path %>
